h1 {
    font-size: 28px;
    text-align: center;
    padding: 15px;
}
.formula{
    width: 28%;
    margin: auto;
    margin-top: 15px;
    background-color: rgb(64, 224, 224);
    padding: 20px;
    border: solid;
}
label{
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}
input, label{
    margin:6px;
}
input:valid {
    background-color: #ccffcc;
}

input:invalid {
    background-color: #ffcccc;
}
input:not([type="submit"]):valid {
    background-color: #ccffcc;
}
.formula > fieldset {
    margin-bottom:15px;
    margin-top:15px;
}